/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*/
/*background*/

html,
body {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    /*background-position: 50%;*/
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.a {
    background-image: url('img/1.jpg');
}

.b {
    background-image: url('img/2.jpg');
}

.c {
    background-image: url('img/3.jpg');
}

.d {
    background-image: url('img/4.jpg');
}

.e {
    background-image: url('img/5.jpg');
}

.f {
    background-image: url('img/6.jpg');
}

.g {
    background-image: url('img/7.jpg');
}

.h {
    background-image: url('img/8.jpg');
}

.i {
    background-image: url('img/9.jpg');
}

.col {
    min-width: 430px;
    max-width: 430px;
    margin-bottom: 30px;
}

/*login*/

.hidden {
    display: none;
}

.container {
    margin-top: 4%;
}

#loginbox,
.datebox,
.weatherbox,
.middle,
#sayings,
.wrapper {
    background-color: lightgray;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

#loginbox:hover,
.datebox:hover,
.weatherbox:hover,
.middle:hover,
#sayings:hover,
.wrapper:hover {

    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/*box1*/

.left {
    /* margin: 0;*/
    width: 100%;
}

#loginbox {
    width: 404px;
    height: 100px;
    margin-bottom: 15px;
    text-align: left;
}

#greeting {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 45px;
}


#login {

    margin-top: -58px;
    margin-left: 90px;
}

#login-input {
    width: 220px;
    height: 45px;
    border: none;
    background-color: transparent;
    font-size: 45px;

}

#login-input:hover {
    border-bottom: 3px solid #5F6367;
    transition: 0.3s ease-out;
}


#login-input:focus {
    outline: none;
    place-content: none;
}



#login-input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 25px;

}

#login-input:focus::placeholder {
    opacity: 0;

}



#loginbutton {
    display: block;
    margin-left: 240px;
    margin-top: -43px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.fa-sign-in-alt {
    font-size: 30px;
}

.fa-sign-in-alt:hover {
    color: white;
}


/*Date function*/
.datebox {
    padding: 8%;
    display: block;
    /*font-family: 'Roboto', sans-serif;*/
    margin-bottom: 5%;

}

#year {
    font-size: 35px;
    font-weight: bolder;
}

#date {
    font-size: 40px;
    font-weight:600;
    color: #545355;
}

#time {
    font-size: 65px;
    font-weight: bolder;
}

.weatherbox {
    /*font-family: 'Roboto', sans-serif;*/
    height: 195px;
    font-size: 40px;
    font-weight: 600;
}

#cel {
    padding-top: 30px;
    font-size: 50px;
}

#temp {
    margin-top: -5px;
    font-size: 40px;
    font-weight: 600;
    color: #313542;
}

/*box2*/
.middle {
    margin-left: 17px;
    height: 100%;
    min-width: 430px;
    max-width: 430px;
}

#todosubject {
    padding-top: 0.7em;
    font-size: 60px;
    font-weight: 700;
}

.material-symbols-outlined {
    font-size: 35px;
}

.todoinput {
    position: relative;
    width: 80%;
    margin-left: 10%;
    align-items: center;
}

.todoinput input {
    width: 100%;
    min-height: 20px;
    height: 58px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    margin-bottom: 20px;
}

.todoinput span {
    position: absolute;
    left: 0;
    padding: 5%;
    pointer-events: none;
    font-size: 15px;
    color: gray;
    text-transform: uppercase;
    transition: 0.5s;
}

.todoinput input:valid~span,
.todoinput input:focus~span {
    color: black;
    transform: translateX(10px) translateY(-7px);
    font-size: 10px;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    letter-spacing: 0.2em;

}

.todoinput input:valid,
.todoinput input:focus {
    border: 1px solid rgba(255, 255, 255, 0.25);
}


.toto {
    display: none;
}

/*box3*/

.right {
    width: 100%;
}

#sayings {
    margin-left: 4%;
    height: 100px;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

#sayings:hover {
    height: 190px;
}


#todayquote {
    padding-top: 6.5%;
    font-size: 35px;
    color: #545355;
}


.sayingfont {
    font-size: 20px;
}

.player {
    margin-left: 4%;
    /*font-family: 'Roboto', sans-serif;*/
    height: 80vh;
    margin-top: 15px;
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    height: 600px;
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid white;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
}

.now-playing {
    font-size: 1rem;
    opacity: 0.6;
}

.track-name {
    margin-top: -10px;
    font-size: 30px;
    opacity: 0.8;
}

.track-artist {

    font-size: 17px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    width: 400px;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
    margin-left: -23px;
    opacity: 0.7;
}

.active {
    color: black;
}

.random-track,
.prev-track,
.playpause-track,
.next-track {
    padding: 22px;
    opacity: 0.7;
    transition: opacity .2s;
}

.repeat-track {
    opacity: 0.6;
    transition: opacity .2s;
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1.0;
}

.current-time,
.total-duration {
   /* font-family: 'Roboto', sans-serif;*/
}

.slider_container1,
.slider_container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_container1 {
    margin-top: -20px;
}

.slider_container2 {
    margin-top: -5px;
}

.seek_slider,
.volume_slider {
    /*
    -webkit-appearance: none;
    -moz-appearance: none;*/

    appearance: none;
    height: 5px;
    background: rgba(255, 255, 255, 0.4);
    transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    /*
    -webkit-appearance: none;
    -moz-appearance: none;*/
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}

.seek_slider {

    width: 60%;
}

.volume_slider {
    width: 30%;
}

.current-time,
.total-duration {
    padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer;
}

.randomActive {
    color: black;
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.Loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.Loader, .stroke{
    background: blue;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 50px;
    animation: animate 1.4s linear infinite;
}

@keyframes animate {
    50%{
        height: 20%;
        background: yellow;
    }
    100%{
        height: 100%;
    }
}
*/
.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}